<ion-header>
  <ion-toolbar>
    <ion-title>questionnaire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Chaque joueurs reponds à une serie de 5 a 10 questions (par oui ou non) d une banque de question. Ensuite, une fois le jeu lancé, l'appli va demander a tous 
  le monde l'avis sur la question d'un joueur. Si la majorité se trompe, c'est x gorgés pour tous le monde sinon c'est x gorgé pour le 
  joueur en question.

  Ou alors juste on pose des question sur un joueur puis par systeme de vote on fait boire.
</ion-content>
